* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.container {
    width: 500px;
    height: 350px;
    border: 4px solid white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.ball {
    width: 60px;
    height: 60px;
    background: crimson;
    border-radius: 50%;
    position: absolute;
    left: 220px;
    bottom: 0;
    animation: circularMove 2s infinite alternate ease-in-out;
}

@keyframes circularMove {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 440px;
    }
    50% {
        top: 290px;
        left: 440px;
    }
    75% {
        top: 290px;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
     


    to {
        top: 290px;
        left: 440px;
    }
